/* Stili Liber Liber 2016-08-22 */
/*Versione per la Critica della Ragion pura di Immanuel Kant*/

.box_sponsor {
border : #dddddd dashed 1px;
padding : 1em;
text-align : center;
}
#corpo_copertina {
border-width : 0;
margin : 0;
padding : 0;
}

footer {
padding-top : 17em;
}
h1 {
text-align : center;
}

h1 > sup > a {
font-size : 0.4em;
}

h2 {
text-align : center;
}

h3 {
text-align : center;
}

h4 {
text-align : center;
}

h6
{
text-align : center;
font-size : 1em;
}

p{
padding-top : 0em;
margin-top : 0em;
padding-bottom : 0em;
margin-bottom : 0em;
text-indent : 1.5em;
}


img {
border-width : 0;
}
.immagine_copertina {
border-width : 0;
margin : 0;
padding : 0;
}
.LLinfo {
font-family : "Courier New";
}
.testo_centrato {
text-align : center;
}
#testo_copertina {
display:none;
visibility:hidden;
}
.testo_distanziato {
padding-top: 2em;
}
.testo_frontespizio_autore {
font-size : 120%;
text-align : center;
}
/*Il seguente valore è stato modificato per il frontespizio di Origini della scienza di Giovanni Vacca
07-01-2025*/
.testo_frontespizio_titolo {
font-size : 250%;
 text-align : center;
}
.testo_frontespizio_titolo_dist {
padding-top : 7em;
font-size : 250%;
text-align : center;
}

p.testo_indice {
list-style-type:none;
margin-left:0;
padding-left:0;
}
.testo_indice a {
text-decoration:none;
}
.testo_indice ul {
list-style-type:none;
}
.testo_maiuscoletto {
font-variant : small-caps;
}

/* Stili Liber Liber 2025-01-07 - stili specifici INIZIO */

div{
text-align : center;
}

div.intestazione{
text-align : center;
}

p.testo_indentato_reverso{
padding-left : 2.5em;
margin-left : 2,5em;
text-indent : -2em;
}
p.testo_centrato_lontano{
text-align : center;
padding-top : 5em;
padding-bottom : 2em;
}

p.testo_centrato_lontano_b{
text-align : center;
padding-top : 5em;
padding-bottom : 2em;
font-size : 1.5em;
}

p.testo_centrato {
text-align : center;
}

p.testo_centrato_gran {
text-align : center;
letter-spacing : 0.3em;
font-size : 1.2em;
}

p.testo_centrato_grands {
padding-top : 2em;
text-align : center;
font-size : 2em;
}

p.testo_centrato_s {
text-align : center;
font-size : 0.5em;
}

p.testo_centrato_motto {
padding-top : 8em;
font-weight : 500;
text-align : center;
font-size : 2em;
}

p.testo_distanziato_basso {
padding-top: 15em;
}

p.editore_max{
text-align : center;
font-family : sans-serif;
font-weight : 900;
font-size : 1.2em;
letter-spacing :1em;
}

p.editore_min{
text-align : center;
font-family : sans-serif;
font-weight : 400;
font-size : 1em;
/*letter-spacing :1em;*/
}

p.giustif{
text-align : justify;
}

p.testo_destro{
text-align : right;
}

p.testo_sinistro{
text-indent : -2em;
}

p#data_diritti{
text-align : center;
padding-top : 50em;
}

p.data_prefazione{
text-align : left;
text-indent : 5em;
padding-top : 2em;
}


p#tit_small{
text-align : center;
font-size : 2.0em;
}

p#tr_small{
text-align : center;
font-size : 0.8em;
}

p#tr_big{
text-align : center;
font-size : 1.4em;
letter-spacing: -0.1em;
}

span.testo_maiuscoletto{
font-variant : small-caps;
}
/*elemento inserito per migliorare la resa della prefazione del libro 'Origini della scienza'*/
span.testo_ridotto{
font-weight : 500;
font-size : 0.5em;
}

/* tentativo di eliminazione dell'entità &lt; ed &amp;*/
span.lt:after{
content : '\003C';
}

span.ec:after{
content : '\0026';
}
/*Fine zona sperimentale, funzionamento raggiunto, testato su Firefox*/

table{
padding-top : 2em;
}

table.indentata{
padding-left : 30%;
font-weight : normal;
text-align : left;
}

td{
text-align : justify;
padding-left : 1em;
padding-right : 1em;
padding-top : 1em;
padding-bottom : 1em;
}

/* Stili Liber Liber 2025-01-07 - stili specifici FINE */
